#order_form {
	background: white;
    /* padding: 20px; */
    max-width: 96%;
    font-family: Arial;
    margin: 20px;
    background-image: url(../Recardio_files/formbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 55px;
    max-height: 100%;
    height: 1419px;

}

@media (min-width: 600px) and (max-width: 739px) {
      #order_form{
          padding: 20px!important;
    margin: 0px -12px!important;
    padding-bottom: 116px!important;
    margin-bottom: -170px!important;}}


@media (min-width: 460px) and (max-width: 599px) {
      #order_form{
    padding: 20px!important;
    margin: 0px -26px!important;
    padding-bottom: 160px!important;
    margin-bottom: -190px!important;}}



#order_form div {
	box-sizing: border-box;
	width: 90%;

	background:transparent!important;

}

#order_form h2 {

	margin: -24px 0 0 0;

	padding:0px;

	line-height:32px;

	border:none;
	color: white;

}

#order_form label {

	width:230px;

	display:block;

	padding:5px 0 5px 0;

	font-weight:bold;

	font-size:16px;

}

#order_form label.vertical {

	border:none!important;

}



.device_info {

	font-size: 14px;

	color:green;

	display:block;

	margin:10px 20px;

}



#order_form .order_form_pole {
	padding: 0px;
	display: inline-block;
	margin-top: 18px;
}

#order_form select, #order_form input {box-sizing: border-box;font-size: 21px;padding: 10px 15px;border-radius: 3px;border: 2px solid #e9d7dc;max-width: 300px;width: 100%;text-align: right;}
#order_form select {background: #fff url(//viposidn.com/content/a3R6Luf1tsX9dVJ/img/custom_select.png)no-repeat 5%;display: block;padding-right: 35px;}

#order_form button, .obutton {

display: inline-block;

padding: 20px;

color: #fff;

font-weight: 700;

text-decoration: none;

box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);

border-radius: 5px;

background-color: #b002ff;

background-position: 1.35em .94em;

background-size: 1em;

background-repeat: no-repeat;

transition: all .15s ease-in-out;

border:none;

cursor:pointer;

font-size:20px;

margin-top:20px;

}

#order_form button:hover, .obutton:hover {

background-color:#b002ff;

}

#order_form button:active {

position:relative;

top:1px;

}



.order_info h2 {

border:none!important;

color:red!important;

}



.left_count {

background: red;

padding: 23px;

margin: 12px 0px;

width: 178px;

color: #fff;

text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;

font-size:32px!important;

border-radius:5px;

}



.left_count .prod_left_val {

font-size:52px!important;

}



#order_form_success {

position:relative;

}



@media screen and (max-width: 480px) {

#order_form input {



}



#order_form label {

    font-size:14px;

}



#order_form button {

    font-size:16px;

}



#order_form {

padding: 10px;
	/* padding-bottom: 266px; */
margin-bottom: -200px;
}



#order_form .order_form_pole {

	margin: 30px 0 0;

}

}



@media screen and (max-width: 459px) {

#order_form input {

    width:100%;

}



#order_form {
	margin-left: -39px;
	margin-right: -39px;

}

}



@media screen and (max-width: 349px) {

#order_form input {

    font-size:17px;

}



#order_form button {

    margin-left:0px;

}

}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.item-gift {
margin: 10px 0;
font-weight: 900;
font-size: 17px;
line-height: 25px;
text-align: center;
color: #000000;
text-shadow: 1px 1px 1px #0000008c;
}
.item-gift {
display: none;
margin: 10px 0;
font-weight: 900;
font-size: 17px;
line-height: 25px;
text-align: center;
color: #000000;
text-shadow: 1px 1px 1px #0000008c;
}
@media screen and (max-width: 992px){
	#order_form div {
		width: 95%;
	}
}
@media screen and (min-width: 768px){
	#order_form {
		margin: -22px;
		height: 1114px;
    border-radius: 41px;
	}
}

/*@media screen and (max-width: 765px){*/
/*	#order_form {*/
/*		margin: 20px;*/
/*	}*/
/*}*/